* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #FFFFF3
}
.contaneir {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}
.text-center{

}
.list-ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.list-ul li a i{
font-size: 30px;
color: white;
}
@media only screen and (max-width:995px){
    .list-ul{
        width: 780px;
        display: flex;
        justify-content:space-around;
    }
}